.w3-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #f28b82; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .w3-button:hover {
    background-color: #e57373;
   } 