html {
  scroll-behavior: smooth; /* Enables smooth scrolling between sections */
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  width: 800px; 
}

.section {
  height: 600px; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.section1 {
  background-color: #ffffff7c;
  color: #000000;
}

.section2 {
  background-color: #ffffff7c; 
  color: #000000;
}

.section3 {
  background-color: #ffffff7c; 
  color: #000000;
}

.section4 {
  background-color: #ffffff7c; 
  color: #000000;
}

.section5 {
  background-color: #ffffff7c; 
  color: #000000;
}

.section6 {
  background-color: #ffffff7c; 
  color: #000000;
}

.section p {
  max-width: 600px; 
  line-height: 1.5;
}

@media (max-width: 768px) {
  .section {
    font-size: 25px; 
    padding: 20px;
  }
}
